{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/plugins/buttons/css/buttons.css">
    <link rel="stylesheet" href="/static/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/static/plugins/icheck/skins/flat/red.css ">
{% endblock %}

{% block header %}
          <h1>
            Add new user
          </h1>
          <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-table"></i> Home</a></li>
            <li class="active">Add user</li>
          </ol>

{% endblock %}

{% block main %}
          <div class="row">
            <div class="col-md-6">
              <!-- User Manage -->
              <div class="box box-info">
                <div class="box-header">
                  <h3 class="box-title">New user</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form" action="" method="post">
                  {{ form.hidden_tag() }}
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="email">Email address</label>
                          <input type="email" class="form-control" id="email" name="email" placeholder="email">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="transfer">Transfer</label>
                          <input type="number" class="form-control" id="transfer" name="transfer" placeholder="Transfer" data-toggle="tooltip" title="GB" value={{ transfer }}>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="downstream">Down Stream</label>
                          <input type="number" class="form-control" id="download" name="download" placeholder="Download" data-toggle="tooltip" title="Byte" value="0">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="upstream">Up Stream</label>
                          <input type="number" class="form-control" id="upload" name="upload" placeholder="Upload" data-toggle="tooltip" title="Byte" value="0">
                        </div>
                      </div>
                    </div><!-- /.row -->
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="effective">Register Date</label>
                          <input type="date" class="form-control" id="effective" name="effective" placeholder="Register Date" readonly>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group input-append date">
                          <label for="expire">Expire Date</label>
                          <div class="input-group">
                            <input type="date" class="form-control" id="expire" name="expire" placeholder="Expire Date" readonly>
                            <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!-- /.row -->
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="port">Port</label>
                          <input type="number" class="form-control" id="port" name="port" placeholder="Port" value="{{ port }}" readonly>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input type="text" class="form-control" id="password" name="password" placeholder="Password" value="{{ password }}" readonly>
                        </div>
                      </div>
                    </div>
                    <div>
                      <input type="hidden" id="enable" name="enable" value="0">
                      <input type="checkbox" id="check">
                      <label for="enable">Enable</label>
                    </div>
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                    <button type="submit" id="btn_submit" class="button button-primary button-small">
                      Submit
                    </button>
                  </div>
                </form>
              </div><!-- ./ box -->
            </div><!-- /.col -->

            <div class="col-md-6">
              <div class="box box-success">
                <div class="box-header">
                  <h3 class="box-title">Config</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <textarea class="form-control" rows="10" id="config" placeholder="config.json" readonly></textarea>
                </div>
                <div class="box-footer">
                  <!--button type="button"  id="btn_copy" class="button button-glow button-border button-rounded button-action button-small">
                    Copy
                  </button-->
                </div>
              </div>
            </div>
          </div><!-- /.row -->

          <div class="row">
            <div class="col-md-3">
              <div class="box box-danger" id="response">
                <div class="box-header with-border">
                  <h3 class="box-title" id="resp_header">Removable</h3>
                  <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                  </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body" id="resp_body">
                </div><!-- /.box-body -->
              </div><!-- ./ box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
{% endblock %}


{% block js %}
    <script src="/static/js/utils.js"></script>
    <script src="/static/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/plugins/form/jquery.form.js"></script>
    <script src="/static/plugins/icheck/icheck.min.js"></script>
{% endblock %}

{% block javascript %}
  <script>
    $(document).ready(function() {

      // init
      $('#expire').datetimepicker({
        format: "yyyy-mm-dd",
        minView: 2,
        autoclose: true
      });

      $('#effective').val(new Date().format("yyyy-MM-dd"));

      $('#config').val("");

      $('#response').hide();

      $('#check').iCheck({
        checkboxClass: 'icheckbox_flat-red'
      });
      $('#check').on('ifChecked', function(){
        $('#enable').val(1);
      });
      $('#check').on('ifUnchecked', function(){
        $('#enable').val(0);
      });

      // add user form
      $('form').submit(function () {
        var user_config = {
          "server":"{{ host }}",
          "server_port":8388,
          "local_address": "127.0.0.1",
          "local_port":1080,
          "password":"Big Brother is watching you",
          "timeout":300,
          "method": "aes-256-cfb"
        };
        var options = {
          url: '/user_add',
          type: 'post',
          success: function (response) {
            if(response.info == 'success'){
              user_config.server_port = response.service.port;
              user_config.password = response.service.password;
              user_config = JSON.stringify(user_config);
              user_config = user_config.split('{')[1];
              user_config = user_config.split('}')[0];
              var strs = user_config.split(',');
              user_config = '{' + '\r\n' + '\t' + strs.shift();
              strs.forEach(function(str){
                user_config += ',\r\n' + '\t' + str;
              });
              user_config += '\r\n' + '}';
              $('#config').val(user_config);
            }
            else{
              show_response(response.info);
            }
          }
        };

        $(this).ajaxSubmit(options);
        return false;
      });

    });

    function show_response(response){
        var header = response.split(':')[0];
        var body = response.split(':')[1];
        if(header == 'success'){
          $('#response').attr('class', 'box box-success');
          $('#resp_header').html(header);
          $('#resp_body').html(body);
        }
        else{
          $('#response').attr('class', 'box box-danger');
          $('#resp_header').html(header);
          $('#resp_body').html(body);
        }
        $('#response').show();
      }

    // (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423
    // (new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18
    Date.prototype.format = function(fmt) {
      var o = {
         //author: meizz
        "M+" : this.getMonth()+1,                 //month
        "d+" : this.getDate(),                    //day
        "h+" : this.getHours(),                   //hour
        "m+" : this.getMinutes(),                 //minute
        "s+" : this.getSeconds(),                 //second
        "q+" : Math.floor((this.getMonth()+3)/3), //quarter
        "S"  : this.getMilliseconds()             //millisecond
      };
      if(/(y+)/.test(fmt))
        fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
      for(var k in o)
        if(new RegExp("("+ k +")").test(fmt))
      fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
      return fmt;
    }
  </script>

{% endblock %}